<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система мониторинга успеваемости студентов.Список студентов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<style>
    body {
        background-color: rgba(14, 166, 221, 0.37); /* Зелёное болото */
        font-family: 'Roboto', sans-serif;
    }
</style>
<body>
<div>
    <blockquote class="blockquote text-center"><h1>Добавление студента</h1></blockquote>
    <div class="row">
        <div class="col-md-8 offset-md-4">
            <form th:action="@{/admin/students/save}" th:object="${student}" method="post">
                <table>
                    <tr>
                        <td>ID студента:</td>
                        <td>
                            <input type="text" th:field="*{id}" readonly="readonly">
                        </td>
                    </tr>
                    <tr>
                        <td>Фамилия студента:</td>
                        <td>
                            <input type="text" th:field="*{surname}">
                        </td>
                    </tr>
                    <tr>
                        <td>Имя студента:</td>
                        <td>
                            <input type="text" th:field="*{name}">
                        </td>
                    </tr>
                    <tr>
                        <td>Отчество студента:</td>
                        <td>
                            <input type="text" th:field="*{patronymic}">
                        </td>
                    </tr>
                    <tr>
                        <td>Электронная почта студента:</td>
                        <td>
                            <input type="text" th:field="*{email}">
                        </td>
                    </tr>
                    <tr>
                        <td>Дата рождения:</td>
                        <td>
                            <input type="date" th:field="*{date_of_birth}">
                        </td>
                    </tr>
                    <tr>
                        <td>Дата зачисления:</td>
                        <td>
                            <input type="date" th:field="*{date_of_enrollment}">
                        </td>
                    </tr>
                    <tr>
                        <td>Группа:</td>
                        <td>
                            <input type="text" th:field="*{studentGroup}">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocapitalize="off" style="border: 1px solid #373434;">Добавить</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>